bin/
coverage/
tmp/*
!tmp/.keep
.env
.history
__pycache__
node_modules
docs/c4/**/.vscode
docs/c4/**/docs
!3rd/**
.idea/
settings.json
.horusec
.trivy
scripts/env
tmp
temp
node_modules
env
.dccache
log_test_running.txt
aws